body {
  margin: 15px;
  padding: 15px;
  font-family: Arial, sans-serif;
  /* 수정된 그라데이션 배경색 */
  background: linear-gradient(#76B6EA, #D4E6F1);
  min-height: 100vh; /* 화면 전체 높이를 채우도록 설정 */
}
/* 드롭다운 콘텐츠 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover { background-color: #f1f1f1; }

nav > ul > li:hover .dropdown-content {
  display: block;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(242, 242, 242, 0.8);
  border-radius: 10px;
}

nav {
  padding: 20px 0;
  border-radius: 10px;
  background-color: rgba(162,213,242, 0.8); /* 네비게이션 바 배경색 및 투명도 설정 */
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white; /* 네비게이션 바 글자 색상을 흰색으로 설정 */
  font-weight: bold; /* 글자를 볼드체로 설정 */
}
#logo img {
  width: 100px; /* 로고 이미지 크기 조정 */
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
#logo, #user-profile {
  display: flex;
  align-items: center;
}


#user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}
footer {
  text-align: center;
  padding: 2px 0;
}
h1 {
  margin: 0; /* 중앙에 위치한 웹페이지 이름의 여백 제거 */
  font-weight: bold;
  font-size: 60px;
}
/* 댓글 입력 폼 스타일링 */
#comment-form {
  margin-top: 20px;
}

#comment-form textarea {
  width: 100%; /* 입력 칸을 가로로 길게 설정 */
  height: 100px; /* 입력 칸의 높이 설정 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px; /* 버튼과의 간격 */
}

#comment-form button {
  width: 100px; /* 버튼의 너비 */
  padding: 10px 15px;
  background-color: #A1D6E2; /* 버튼의 배경색 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#comment-form button:hover {
  background-color: #52B2CF; /* 호버 시 버튼 색상 변경 */
}

/* 댓글 목록 스타일링 */
#comments-container div {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.comment-item {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-item span {
  font-size: 0.8em;
  color: #777;
}