<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>EchoSports</title>
  <link rel="stylesheet" href="../static/css/comment.css">
<body>
<header>
  <div id="logo">
    <img src="../static/images/EchoLogo.jpeg"/>
  </div>
  <h1>EchoSports</h1>
  <div id="user-profile">
    <img src="../static/images/shopping-cart.png"/>
    <img src="../static/images/IMG_1851.JPG"/>
  </div>
</header>

<nav>
  <ul>
    <li>
      <a href="#calendar">경기 일정</a>
      <ul id="sports-dropdown" class="dropdown-content">
        <li><a href="#football">축구</a></li>
        <li><a href="#basketball">농구</a></li>
        <li><a href="#baseball">야구</a></li>
      </ul>
    </li>
    <li><a href="#comment">응원 댓글</a>
      <ul id="comment-dropdown" class="dropdown-content">
        <li><a href="#commentfootball">축구</a></li>
        <li><a href="#commentbasketball">농구</a></li>
        <li><a href="#commentbaseball">야구</a></li>
      </ul>
    </li>
    <li><a href="#shop">상품 구매</a></li>
    <li><a href="#deals">핫 딜</a></li>
  </ul>
</nav>
<main>
  <section id="football-comments">
    <h2>축구 경기 댓글</h2>
<!-- 댓글 작성 폼 -->
<form id="comment-form">
  <textarea id="comment-text" placeholder="댓글을 입력하세요"></textarea>
  <button type="submit">댓글 작성</button>
</form>

<div id="comments-container"></div> <!-- 댓글 표시 영역 -->
</section>
</main>
<footer>
  <!-- 푸터 내용: 저작권 정보, 연락처 정보 등 -->
  <p>&copy; 내배캠 Team Echo</p>
</footer>
<script src="../static/js/football-comment.js"></script>
</body>
</html>
